#side-grade-viewer-container {
    display: flex;
    align-items: center;

    width: 35%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);

    div {
        width: 100%;
        margin: 0 0 150px;

        text-align: center;
    }

    h3 {
        margin: 0;

        font-size: 30px;
        font-weight: normal;
    }

    .main-info {
        margin: 0;
    
        font-size: 90px;
        text-decoration: double underline orange;
    }

    .second-info {
        margin: 0;
        font-size: 50px;
    }
}